<div class="improve right hide-on-mobiles">
  <a href="{{ site.repository }}/edit/main/{{ page.relative_path | default: page.path }}"><i class="fa fa-pencil"></i> &nbsp;Improve this article</a>
</div>
