<section class="pj-related-articles container">
  <h2>
    {{ site.data.i18n[page.locale].article.related_articles }}
  </h2>

  <div class="pj-articles container grid">
    {% for related_article_uid in page.related_article_uids %}
      {% assign article = site.articles | where: "uid", related_article_uid | where: "locale", page.locale | first %}
      
      {% include default/related_article.liquid article=article %}
    {% endfor %}
  </div>
</section>
