{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "scss/no-global-function-names": null,
    "color-function-notation": "legacy"
  },
  "ignoreFiles": [
    "_sass/slick.scss",
    "_sass/jekyll-theme-platoniq-journal.scss",
    "_sass/utils/_reset.scss",
    "_sass/plugins/_plugins.scss",
    "_sass/partials/_all.scss"
  ]
}