<nav class="pj-nav-vertical">
  <ul>
  {% assign volume_archives = site.archives | where: "locale", page.locale | where: "volume-uid", current_volume.uid | sort: "order" %}
  {% for archive in volume_archives %}
    {% assign t_category_name = site.data.i18n[page.locale].categories[archive.category] %}

    <li>
      <a href="{{ archive.url  | relative_url }}" class="{% if page.category == archive.category %}select{% endif %}">
        <strong>
          {{ t_category_name }}
        </strong>
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>
