<hr>

<h4>Footer</h4>

<ul>
  <li><a>Fundacio Platoniq</a></li>
  <li><a>Goteo</a></li>
  <li>Content licensed under the
    <a rel="license" class="cc-badge" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
      Creative Commons Attribution-ShareAlike (CC BY-SA 4.0)
    </a>
  </li>
</ul>
