<div class="header__locale-selector">
  <button type="button" class="burger">
    <span class="burger__label">
      {{ page.locale | upcase }}
    </span>

    {% include svg/icon-close.liquid
        class="burger__icon-close burger__icon-close-right"
        alt=t_close %}

    {% include svg/icon-world.liquid
        class="burger__icon-open burger__icon-open-right"
        alt=t_locale_menu %}
  </button>

  <ul class="menu__locale-selector">
    {% for translation in page_translations %}
      <li>
        <a href="{{ translation.url | relative_url }}" class="{% if page.locale == translation.locale %}active{% endif %}">
          {{ site.data.i18n[page.locale].global.locales[translation.locale] }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
