<div class="header__logo">
  {% if current_volume %}
    <h4>{{ current_volume.volume-number | prepend: "#"}} - {{ current_volume.title }}</h4>
  {% endif %}

  <a href="{{ current_volume.url | default: "/" }}">
    {% include svg/logo-header-wilder-journal.liquid %}
  </a>
</div>
