#main {
  padding-top: 80px;
  padding-bottom: 24px;

  @media (min-width: $bp-tablet) {
    padding-top: 224px;
    padding-bottom: 224px;
    grid-row-gap: $grid-row-lg;
  }

  .grid {
    @media (min-width: $bp-mobile) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $bp-tablet) {
      grid-template-columns: repeat(24, 1fr);
    }
  }



  .row-articles {
    width: 100%;
    padding-left: 60px;
    grid-column: 1 / 3;

    @media (min-width: $bp-tablet) {
      padding-left: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(100, auto);
      grid-gap: 129px;
      grid-row-gap: 0;

      &:nth-child(odd) {
        // Grid
        grid-column: 4/-4;

        article {
          // Grid
          grid-column: 2/3;
          grid-row: 20/100;
        }

        article:first-child {
          // Grid
          grid-column: 1/2;
          grid-row: 1/67;
        }
      }

      &:nth-child(even) {
        // Grid
        grid-column: 5/-3;

        article {
          // Grid
          grid-column: 2/3;
          grid-row: 20/100;
        }

        article:first-child {
          // Grid
          grid-column: 1/2;
          grid-row: 1/67;
        }
      }
    }
  }

  .highlighted {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 64px;

    @media (min-width: $bp-tablet) {
      margin-bottom: inherit;
    }

    // Elements
    & h3 {
      @include font-heading(28px);

      color: $color-base;
      letter-spacing: -0.4px;
      line-height: 115%;

      @media (min-width: $bp-desktop) {
        font-size: 40px;
        padding-top: 8px;
      }

      a {
        color: $color-base;

        &.select,
        &:hover {
          background: transparent linear-gradient(90deg, $color-fg-primary 50%, $color-fg-primary 0) no-repeat;
          background-size: 200% 2px;
          background-position: 100% 100%;
          color: $color-fg-primary;
        }
      }
    }

    & h4 {
      transform: rotate(-90deg);
      transform-origin: left top;

      @include font-body;

      color: $color-fg-primary;
      letter-spacing: 0.62px;
      text-transform: uppercase;
      padding-top: 24px;

      a {
        color: $color-fg-primary;
        padding-bottom: 6px;

        &.select,
        &:hover {
          background: transparent linear-gradient(90deg, $color-fg-primary 50%, $color-fg-primary 0) no-repeat;
          background-size: 200% 2px;
          background-position: 100% 89%;
          color: $color-fg-primary;
        }
      }
    }

    & h5 {
      @include font-body;

      color: $color-base;
      letter-spacing: -0.7px;
      text-align: right;
      margin-top: 1em;
      position: relative;
      align-self: flex-end;

      @media (min-width: $bp-tablet) {
        font-size: 16px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 3px;
        left: -24px;
        width: 16px;
        height: 2px;
        background-color: $color-bg-primary;
      }
    }

    &-horizontal {
      img {
        margin: 0 auto;
        max-width: calc(100% - 32px);
        align-self: center;
      }
    }

    &-vertical {
      img {
        margin: 0 auto;
        max-width: calc(100% - 32px);
        align-self: center;
      }
    }

    &-interviews {
      .interviewee {
        @include font-heading(1em);

        line-height: 115%;
        color: $color-fg-primary-negative;
        letter-spacing: -0.4px;
        background-color: $color-bg-primary;
        display: block;
        width: fit-content;
        padding: 0.188em 0.375em;
        margin-bottom: 0.25em;
      }
    }
  }
}
