#stories {
  background-color: $color-bg-primary;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (min-width: $bp-tablet) {
    padding-top: 224px;
    padding-bottom: 224px;
    grid-row-gap: $grid-row-lg;
  }

  .highlighted {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 96px;
    margin-left: 60px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $bp-tablet) {
      margin-left: inherit;

      // Grid
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      grid-gap: 16px;
      grid-column-gap: 16px;
    }

    .col1,
    .col2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 575px) {
      .col1 {
        padding: 0 2em 1.5em;
      }
    }

    @media (min-width: $bp-tablet) {
      // Disposició
      &:nth-child(odd) {
        grid-column: 6 / span 17;

        .col1 {
          grid-area: 1 / 1 / 1 / 7;
          position: relative;
        }

        .col2 {
          grid-area: 1 / 8 / 1 / -1;
        }
      }

      &:nth-child(even) {
        grid-column: 4 / span 17;

        .col1 {
          grid-area: 1 / -1 / 1 / -7;
          position: relative;
        }

        .col2 {
          grid-area: 1 / 1 / 1 / -8;
        }
      }
    }

    // Elements
    & h3 {
      @include font-heading(28px);

      color: $color-fg-primary-negative;
      letter-spacing: -0.4px;
      text-align: center;
      margin-bottom: 0.375em;

      @media (min-width: $bp-tablet) {
        font-size: 64px;
      }

      a {
        color: $color-fg-primary-negative;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & h4 {
      transform: rotate(-90deg);
      transform-origin: left top;

      @include font-heading(14px);

      color: $color-fg-primary-negative;
      letter-spacing: 0.62px;
      text-transform: uppercase;
      position: absolute;
      top: 60px;
      left: 0;

      @media (min-width: $bp-tablet) {
        top: 72px;
        left: -32px;
      }

      a {
        color: $color-fg-primary-negative;
        padding-bottom: 6px;

        &.select,
        &:hover {
          background:
            transparent linear-gradient(90deg, $color-fg-primary-negative 50%, $color-fg-primary-negative 0)
            no-repeat;
          background-size: 200% 2px;
          background-position: 100% 89%;
          color: $color-fg-primary-negative;
        }
      }
    }

    & p {
      @include font-body-medium(22px);

      line-height: 120%;
      color: $color-fg-primary-negative;
      letter-spacing: -1px;
      text-align: center;
      margin-bottom: 1em;

      @media (min-width: $bp-tablet) {
        font-size: 32px;
      }
    }
  }
}
