.footer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  border-top: 1px solid $color-grey;
  padding-top: 2.5em;
  padding-bottom: 2.5em;

  @media (min-width: $bp-tablet) {
    flex-flow: row;
    align-content: center;
    align-items: center;
    padding-bottom: 4em;
  }

  &__copyright {
    font-family: $font-family-body;
    font-size: 14px;
    color: $color-base;
    letter-spacing: -0.4px;
    margin-bottom: 1em;
    @media (min-width: $bp-tablet) {
      font-size: 15px;
    }
  }

  &__nav {
    ul {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
    }

    li {
      margin-right: 16px;
    }

    a {
      font-family: $font-family-body;
      font-size: 14px;
      color: $color-base;
      letter-spacing: -0.4px;
      @media (min-width: $bp-tablet) {
        font-size: 15px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
