// Grid

.container {
  // width        : calc(100vw - (#{$padding}*2));
  width: 100%;
  margin-right: auto !important;
  margin-left: auto !important;
}

.container-fluid {
  width: 100vw;
  padding-right: #{$padding};
  padding-left: #{$padding};
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.justify-content-center {
  justify-content: center;
}

.column {
  display: flex;
  display: -webkit-flex;
  flex-flow: column wrap;
}

.align-content-center {
  align-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
}

.none {
  display: none !important;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.grecaptcha-badge {
  position: relative !important;
  right: 0px !important;
  bottom: 0px !important;
  margin: 20px 0;
}

// Grid - Small

@media (min-width: 576px) {
  // .container {
  //   @if $margin-sm==null {
  //     width : calc(100vw - (#{$margin}*2));
  //   } @else {
  //     width : calc(100vw - (#{$margin-sm}*2));
  //   }
  // }

  .container-fluid {
    width: 100vw;
    @if $padding-sm==null {
      padding-right: #{$padding};
      padding-left: #{$padding};
    } @else {
      padding-right: #{$padding-sm};
      padding-left: #{$padding-sm};
    }
  }

  .row {
    @if $column-gap-sm==null {
      margin-left: -#{$column-gap};
    } @else {
      margin-left: -#{$column-gap-sm};
    }
  }
  @for $i from 1 through $grid-columns {
    $a: (($grid-columns * $i) / $grid-columns)-1;

    .sm-cols-#{$i} {
      // background-color : black;
      //   border: 10px solid black;
      @if $column-gap-sm==null {
        width: calc((100% - (#{$grid-columns}*#{$column-gap})) /#{$grid-columns}*#{$i} + (#{$a}*#{$column-gap}));
        margin-left: $column-gap;
      } @else {
        width: calc((100% - (#{$grid-columns}*#{$column-gap-sm})) /#{$grid-columns}*#{$i} + (#{$a}*#{$column-gap-sm}));
        margin-left: $column-gap-sm;
      }
    }
  }
}

// Grid - Medium

@media (min-width: 768px) {
  // .container {
  //   @if $margin-md==null {
  //     width : calc(100vw - (#{$margin}*2));
  //   } @else {
  //     width : calc(100vw - (#{$margin-md}*2));
  //   }
  // }

  .container-fluid {
    width: 100vw;
    @if $padding-md==null {
      padding-right: #{$padding};
      padding-left: #{$padding};
    } @else {
      padding-right: #{$padding-md};
      padding-left: #{$padding-md};
    }
  }

  .row {
    @if $column-gap-md==null {
      margin-left: -#{$column-gap};
    } @else {
      margin-left: -#{$column-gap-md};
    }
  }
  @for $i from 1 through $grid-columns {
    $a: (($grid-columns * $i) / $grid-columns)-1;

    .md-cols-#{$i} {
      // background-color : red;
      //   border: 10px solid red;
      @if $column-gap-md==null {
        width: calc((100% - (#{$grid-columns}*#{$column-gap})) /#{$grid-columns}*#{$i} + (#{$a}*#{$column-gap}));
        margin-left: $column-gap;
      } @else {
        width: calc((100% - (#{$grid-columns}*#{$column-gap-md})) /#{$grid-columns}*#{$i} + (#{$a}*#{$column-gap-md}));
        margin-left: $column-gap-md;
      }
    }
  }
}

// Grid - Large

@media (min-width: 992px) {
  // .container {
  //   @if $margin-lg==null {
  //     width : calc(100vw - (#{$margin}*2));
  //   } @else {
  //     width : calc(100vw - (#{$margin-lg}*2));
  //   }
  // }

  .container-fluid {
    width: 100vw;
    @if $padding-lg==null {
      padding-right: #{$padding};
      padding-left: #{$padding};
    } @else {
      padding-right: #{$padding-lg};
      padding-left: #{$padding-lg};
    }
  }

  .row {
    @if $column-gap-lg==null {
      margin-left: -#{$column-gap};
    } @else {
      margin-left: -#{$column-gap-lg};
    }
  }
  @for $i from 1 through $grid-columns {
    $a: (($grid-columns * $i) / $grid-columns)-1;

    .lg-cols-#{$i} {
      // background-color : yellow;
      // border: 10px solid yellow;
      @if $column-gap-lg==null {
        width: calc((100% - (#{$grid-columns}*#{$column-gap})) /#{$grid-columns}*#{$i} + (#{$a}*#{$column-gap}));
        margin-left: $column-gap;
      } @else {
        width: calc((100% - (#{$grid-columns}*#{$column-gap-lg})) /#{$grid-columns}*#{$i} + (#{$a}*#{$column-gap-lg}));
        margin-left: $column-gap-lg;
      }
    }
  }
}

// Grid - XLarge

@media (min-width: 1200px) {
  // .container {
  //   @if $margin-xl==null {
  //     width : calc(100vw - (#{$margin}*2));
  //   } @else {
  //     width : calc(100vw - (#{$margin-xl}*2));
  //   }
  // }

  .container-fluid {
    width: calc(100vw - (100vw - 100%));
    @if $padding-xl==null {
      padding-right: #{$padding};
      padding-left: #{$padding};
    } @else {
      padding-right: #{$padding-xl};
      padding-left: #{$padding-xl};
    }
  }

  .row {
    @if $column-gap-xl==null {
      margin-left: -#{$column-gap};
    } @else {
      margin-left: -#{$column-gap-xl};
    }
  }
  @for $i from 1 through $grid-columns {
    $a: (($grid-columns * $i) / $grid-columns)-1;

    .xl-cols-#{$i} {
      // background-color : orange;
      //   border: 10px solid orange;
      @if $column-gap-xl==null {
        width: calc((100% - (#{$grid-columns}*#{$column-gap})) /#{$grid-columns}*#{$i} + (#{$a}*#{$column-gap}));
        margin-left: $column-gap;
      } @else {
        width: calc((100% - (#{$grid-columns}*#{$column-gap-xl})) /#{$grid-columns}*#{$i} + (#{$a}*#{$column-gap-xl}));
        margin-left: $column-gap-xl;
      }
    }
  }
}

// Grid - XXLarge

@media (min-width: 1520px) {
  // .container {
  //   @if $margin-xl==null {
  //     width : calc(100vw - (#{$margin}*2));
  //   } @else {
  //     width : calc(100vw - (#{$margin-xxl}*2));
  //   }
  // }

  .container {
    max-width: $container-max-width;
  }

  .container-fluid {
    width: calc(100vw - (100vw - 100%));
    @if $padding-xxl==null {
      padding-right: #{$padding};
      padding-left: #{$padding};
    } @else {
      padding-right: #{$padding-xxl};
      padding-left: #{$padding-xxl};
    }
  }

  .row {
    @if $column-gap-xxl==null {
      margin-left: -#{$column-gap};
    } @else {
      margin-left: -#{$column-gap-xxl};
    }
  }
  @for $i from 1 through $grid-columns {
    $a: (($grid-columns * $i) / $grid-columns)-1;

    .xxl-cols-#{$i} {
      @if $column-gap-xxl==null {
        width: calc((100% - (#{$grid-columns}*#{$column-gap})) /#{$grid-columns}*#{$i} + (#{$a}*#{$column-gap}));
        margin-left: $column-gap;
      } @else {
        width: calc(
          (100% - (#{$grid-columns}*#{$column-gap-xxl})) /#{$grid-columns}*#{$i} + (#{$a}*#{$column-gap-xxl})
        );
        margin-left: $column-gap-xxl;
      }
    }
  }
}

// Recaptcha de Google

@media screen and (min-width: 319px) and (max-width: 320px) {
  .g-recaptcha {
    transform: scale(0.79);
    -webkit-transform: scale(0.79);
    transform-origin: left;
    -webkit-transform-origin: left;
  }
}
