// Grid

.container {
  width: 100%;
  margin-right: auto !important;
  margin-left: auto !important;
}

.container-fluid {
  width: 100vw;
  padding-right: map-get($padding, default);
  padding-left: map-get($padding, default);
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.justify-content-center {
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column wrap;
}

.align-content-center {
  align-content: center;
  align-items: center;
}

.none {
  display: none !important;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.grecaptcha-badge {
  position: relative !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: 20px 0;
}


@mixin grid-system($size) {
  $padding-size: map-get($padding, $size);
  $column-gap-size: map-get($column-gap, $size);

  @if not $padding-size {
    $padding-size: map-get($padding, default);
  }

  @if not $column-gap-size {
    $column-gap-size: map-get($column-gap, default);
  }

  .container-fluid {
    width: 100vw;
    padding-right: $padding-size;
    padding-left: $padding-size;
  }

  .row {
    margin-left: -$column-gap-size;
  }

  @for $i from 1 through $grid-columns {
    $a: (($grid-columns * $i) / $grid-columns) - 1;

    .col-#{$size}-#{$i} {
      width:
        calc(
          (100% - (#{$grid-columns * $column-gap-size})) / #{$grid-columns * $i} + (#{$a * $column-gap-size})
        );
      margin-left: $column-gap-size;
    }
  }
}

// Grid - Small
@media (min-width: $bp-phablet) {
  @include grid-system(sm);
}

// Grid - Medium
@media (min-width: $bp-tablet) {
  @include grid-system(md);
}

// Grid - Large
@media (min-width: $bp-desktop) {
  @include grid-system(lg);
}

// Grid - XLarge
@media (min-width: $bp-desktop-xl) {
  @include grid-system(xl);

  .container-fluid {
    width: calc(100vw - (100vw - 100%));
  }
}

// Grid - XXLarge
@media (min-width: $bp-desktop-xxl) {
  @include grid-system(xxl);

  .container {
    max-width: $container-max-width;
  }

  .container-fluid {
    width: calc(100vw - (100vw - 100%));
  }
}

// Recaptcha de Google
@media screen and (min-width: 319px) and (max-width: 320px) {
  .g-recaptcha {
    transform: scale(0.79);
    transform-origin: left;
  }
}
