.grid {
  display: flex;
  flex-flow: column;

  @media (min-width: $bp-tablet) {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 16px;
    grid-column-gap: 16px;
    grid-row-gap: $grid-row-xxl;
  }
}

.pj-articles {
  article {
    cursor: pointer;
  }
}

@import "./home/home_hero";
@import "./home/home_main";
@import "./home/home_stories";
@import "./home/home_reports";
