.grid {
  display: grid;
  grid-gap: 16px;
  grid-column-gap: 16px;
  grid-row-gap: $grid-row-xxl;
}

.pj-articles {
  article {
    cursor: pointer;
  }
}

@import "./home/home_hero";
@import "./home/home_main";
@import "./home/home_stories";
@import "./home/home_reports";
