.grid {
  display: flex;
  flex-flow: column;
  @media (min-width : $bp-tablet) {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 16px;
    grid-column-gap: 16px;
    grid-row-gap: $grid-row--xxl;
  }
}

.heroimage {
  z-index: 2;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $bgcolor--primary;

  &.grid {
    align-content: center;
    justify-content: center;
  }

  &__text {
    grid-column: 3/span 16;
  }

  h1 {
    font-family: $tipo--primary;
    font-weight: $bold--primary;
    font-size: 56px;
    color: $color--white;
    letter-spacing: -1px;
    @media (min-width : $bp-tablet) {
      font-size: 120px;
    }
  }

  h4 {
    font-family: $tipo--primary;
    font-weight: $bold--primary;
    font-size: 40px;
    line-height: 122%;
    color: $color--white;
    letter-spacing: 0;
    text-align: center;
    border-bottom: 6px solid $color--white;
    display: inline-block;
    margin-bottom: 16px;
    @media (min-width : $bp-tablet) {
      font-size: 80px;
      border-bottom: 11px solid $color--white;
      margin-bottom: 56px;
      margin-left: 98px;
    }
  }

  &__arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    bottom: 40px;
    left: calc(50% - 24px);
  }

  .img-fullsize {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: center bottom;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .1);
    }
  }
}

#varis {
  padding-top: 80px;
  padding-bottom: 24px;
  @media (min-width : $bp-tablet) {
    padding-top: 224px;
    padding-bottom: 224px;
    grid-row-gap: $grid-row--lg;
  }

  .row-articles {
    width: 100%;
    padding-left: 60px;
    @media (min-width : $bp-tablet) {
      padding-left: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(100,auto);
      grid-gap: 129px;
      grid-row-gap: 0;

      &:nth-child(odd) {
        // Grid
        grid-column: 4/-4;

        article {
          // Grid
          grid-column: 2/3;
          grid-row: 20/100;
        }

        article:first-child {
          // Grid
          grid-column: 1/2;
          grid-row: 1/67;
        }
      }

      &:nth-child(even) {
        // Grid
        grid-column: 5/-3;

        article {
          // Grid
          grid-column: 2/3;
          grid-row: 20/100;
        }

        article:first-child {
          // Grid
          grid-column: 1/2;
          grid-row: 1/67;
        }
      }
    }
  }

  .destecat {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 64px;
    @media (min-width : $bp-tablet) {
      margin-bottom: inherit;
    }
    // Elements
    & h3 {
      font-family: $tipo--primary;
      font-weight: $bold--primary;
      font-size: 28px;
      color: $color--base;
      letter-spacing: -0.4px;
      line-height: 115%;
      @media (min-width : $bp-tablet) {
        font-size: 40px;
        padding-top: 8px;
      }

      a {
        color: $color--base;

        &.select,
        &:hover {
          background: transparent linear-gradient(90deg , $color--primary 50%, $color--primary 0) no-repeat;
          background-size: 200% 2px;
          background-position: 100% 100%;
          color: $color--primary;
        }
      }
    }

    & h4 {
      transform: rotate(-90deg);
      transform-origin: left top;
      font-family: $tipo--secundary;
      font-size: 14px;
      color: $color--primary;
      letter-spacing: 0.62px;
      text-transform: uppercase;
      padding-top: 24px;

      a {
        color: $color--primary;
        padding-bottom: 6px;

        &.select,
        &:hover {
          background: transparent linear-gradient(90deg , $color--primary 50%, $color--primary 0) no-repeat;
          background-size: 200% 2px;
          background-position: 100% 89%;
          color: $color--primary;
        }
      }
    }

    & h5 {
      font-family: $tipo--secundary;
      font-weight: $reg--secundary;
      font-size: 14px;
      color: $color--base;
      letter-spacing: -0.7px;
      text-align: right;
      margin-top: 1em;
      position: relative;
      align-self: flex-end;
      @media (min-width : $bp-tablet) {
        font-size: 16px;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 3px;
        left: -24px;
        width: 16px;
        height: 2px;
        background-color: $bgcolor--primary;
      }
    }

    &--horitzontal {
      img {
        margin: 0 auto;
        padding-left: 40px;
        max-width: calc(100% - 32px);
        align-self: center;
      }
    }

    &--vertical {
      img {
        margin: 0 auto;
        padding-left: 40px;
        max-width: calc(100% - 32px);
        align-self: center;
      }
    }

    &--interviews {
      .entrevistat {
        font-family: $tipo--primary;
        font-size: 1em;
        line-height: 115%;
        color: $color--primary--negatiu;
        letter-spacing: -0.4px;
        background-color: $bgcolor--primary;
        display: block;
        width: fit-content;
        padding: 0.188em 0.375em;
        margin-bottom: 0.25em;
      }
    }
  }
}

#stories {
  background-color: $bgcolor--primary;
  padding-top: 80px;
  padding-bottom: 80px;
  @media (min-width : $bp-tablet) {
    padding-top: 224px;
    padding-bottom: 224px;
    grid-row-gap: $grid-row--lg;
  }

  .destecat {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 96px;
    margin-left: 60px;

    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width : $bp-tablet) {
      margin-left: inherit;
      // Grid
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      grid-gap: 16px;
      grid-column-gap: 16px;
    }

    .col1,
    .col2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width : 575px) {
        .col1{
          padding: 0 2em 1.5em;
        }
      }

    @media (min-width : $bp-tablet) {
      // Disposició
      &--fila1 {
        grid-column: 6 / span 17;

        .col1 {
          grid-area: 1 / 1 / 1 / 7;
          position: relative;
        }

        .col2 {
          grid-area: 1 / 8 / 1 / -1;
        }
      }

      &--fila2 {
        grid-column: 4 / span 17;

        .col1 {
          grid-area: 1 / -1 / 1 / -7;
          position: relative;
        }

        .col2 {
          grid-area: 1 / 1 / 1 / -8;
        }
      }
    }
    // Elements
    & h3 {
      font-family: $tipo--primary;
      font-weight: $bold--primary;
      font-size: 28px;
      color: $color--primary--negatiu;
      letter-spacing: -0.4px;
      text-align: center;
      margin-bottom: 0.375em;
      @media (min-width : $bp-tablet) {
        font-size: 64px;
      }

      a {
        color: $color--primary--negatiu;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & h4 {
      transform: rotate(-90deg);
      transform-origin: left top;
      font-family: $tipo--primary;
      font-size: 14px;
      color: $color--primary--negatiu;
      letter-spacing: 0.62px;
      text-transform: uppercase;
      position: absolute;
      top: 60px;
      left: 0;
      @media (min-width : $bp-tablet) {
        top: 72px;
        left: -32px;
      }

      a {
        color: $color--primary--negatiu;
        padding-bottom: 6px;

        &.select,
        &:hover {
          background: transparent linear-gradient(90deg , $color--primary--negatiu 50%, $color--primary--negatiu 0) no-repeat;
          background-size: 200% 2px;
          background-position: 100% 89%;
          color: $color--primary--negatiu;
        }
      }
    }

    & p {
      font-family: $tipo--secundary;
      font-weight: $med--secundary;
      font-size: 22px;
      line-height: 120%;
      color: $color--primary--negatiu;
      letter-spacing: -1px;
      text-align: center;
      margin-bottom: 1em;
      @media (min-width : $bp-tablet) {
        font-size: 32px;
      }
    }
  }
}

#reports {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (min-width : $bp-tablet) {
    padding-top: 224px;
    padding-bottom: 224px;
    grid-row-gap: $grid-row--lg;
  }

  .destecat {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 96px;
    margin-left: 60px;

    &:last-child{
      margin-bottom: 0;
    }

    .col1 {
      padding-left: 40px;
      @media (min-width : $bp-tablet) {
        padding-left: inherit;
      }
    }

    .col2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: $bgcolor--primary;
      padding: 24px;
      margin: -40px auto 0 0;
      width: calc(100% - 20px);
      @media (min-width : $bp-tablet) {
        padding: 32px;
        margin: auto;
        width: 100%;
      }
    }

    @media (min-width : $bp-tablet) {
      margin-left: inherit;
      // Grid
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      grid-gap: 16px;
      grid-column-gap: 16px;
      margin-bottom: 96px;

      &:last-child {
        margin-bottom: 0;
      }

      // Disposició
      &--fila1 {
        grid-column: 4 / -4;

        .col1 {
          grid-area: 1 / 1 / 1 / -7;
          position: relative;
        }

        .col2 {
          grid-area: 1 / -9 / 1 / -1;
          z-index: 1;
        }
      }

      &--fila2 {
        grid-column: 5 / -3;

        .col1 {
          grid-area: 1 / 8 / 1 / -1;
          position: relative;
        }

        .col2 {
          grid-area: 1 / 1 / 1 / -9;
          z-index: 1;
        }
      }
    }
    // Elements
    & h3 {
      font-family: $tipo--primary;
      font-weight: $bold--primary;
      font-size: 28px;
      line-height: 110%;
      color: $color--white;
      letter-spacing: -0.4px;
      margin-bottom: 0.6em;
      @media (min-width : $bp-tablet) {
        font-size: 40px;
        line-height: 120%;
      }

      a {
        color: $color--white;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & h4 {
      transform: rotate(-90deg);
      transform-origin: left top;
      font-family: $tipo--primary;
      font-size: 14px;
      color: $color--primary;
      letter-spacing: 0.62px;
      text-transform: uppercase;
      position: absolute;
      top: 64px;
      left: 0;
      @media (min-width : $bp-tablet) {
        top: 80px;
        left: -32px;
      }

      a {
        color: $color--primary;
        padding-bottom: 6px;

        &.select,
        &:hover {
          background: transparent linear-gradient(90deg , $color--primary 50%, $color--primary 0) no-repeat;
          background-size: 200% 2px;
          background-position: 100% 89%;
          color: $color--primary;
        }
      }
    }

    @media (min-width : $bp-tablet) {
      &--fila1 h4 {
        transform-origin: right bottom;
        right: -32px;
        top: -12px;
        left: auto;
      }
    }
  }
}
