.page,
.page-section {
  padding-top: 136px;

  @media (min-width: $bp-tablet) {
    padding-top: 224px;
    padding-left: inherit;
  }

  .grid {
    grid-row-gap: $grid-row-lg;
    @media (max-width: $bp-tablet) {
      padding-left: 60px;
      grid-row-gap: $grid-row-md;
    }
  }

  .simple-header {
    grid-column: 4 / -3;

    h1 {
      font-family: $font-family-heading;
      font-size: 36px;
      font-weight: $font-weight-heading;
      color: $color-fg-primary;
      letter-spacing: -1px;
      line-height: 105%;
      @media (min-width: $bp-tablet) {
        font-size: 80px;
      }
    }
  }

  .multiple-header {
    @media (min-width: $bp-tablet) {
      margin-bottom: $grid-row-xl;
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      grid-gap: 16px;
      grid-column-gap: 16px;

      grid-column: 4 / -3;
      @include grid-align;
      margin-bottom: $grid-row-xl;

      &__text {
        grid-column: 1 / 11;
        grid-row: 1;
        z-index: 1;
      }
    }

    &__dades {
      display: flex;
      flex-flow: column;
      margin-bottom: 0.75em;
      @media (min-width: $bp-tablet) {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 16px;
        grid-column-gap: 16px;
      }

      h5 {
        font-family: $font-family-body;
        font-size: 14px;
        font-weight: $font-weight-regular;
        color: $color-base;
        letter-spacing: -0.7px;
        margin-bottom: 1em;
        @media (min-width: $bp-tablet) {
          font-size: 16px;
        }
      }

      &__data {
        grid-column: 1 / span 3;
      }

      &__autor {
        grid-column: 4 / -1;
        position: relative;

        @media (max-width: $bp-tablet) {
          margin-left: 24px;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 3px;
          left: -24px;
          width: 16px;
          height: 2px;
          background-color: $color-fg-primary;
        }
      }
    }

    &__img {
      grid-column: 8 / -1;
      grid-row: 1;
      justify-self: right;
    }

    h1 {
      font-family: $font-family-heading;
      font-size: 36px;
      font-weight: $font-weight-heading;
      color: $color-fg-primary;
      letter-spacing: -1px;
      line-height: 105%;
      margin-bottom: 0.75em;

      @media (min-width: $bp-tablet) {
        font-size: 80px;
      }

      .entrevistat {
        font-family: $font-family-heading;
        font-size: 0.75em;
        line-height: 115%;
        color: $color-fg-secondary;
        letter-spacing: -0.5px;
        background-color: $color-fg-primary;
        display: block;
        width: fit-content;
        padding: 0.188em 0.375em;
        margin-bottom: 0.25em;
      }
    }

    h4 {
      font-family: $font-family-body;
      font-size: 16px;
      font-weight: $font-weight-medium;
      color: $color-fg-primary;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      margin-bottom: 1em;

      @media (min-width: $bp-tablet) {
        font-size: 19px;
      }

      a {
        color: $color-fg-primary;
        padding-bottom: 6px;

        &:hover,
        &.select {
          background: transparent linear-gradient(90deg, $color-fg-primary 50%, $color-fg-primary 0) no-repeat;
          background-size: 200% 2px;
          background-position: 100% 89%;
          color: $color-fg-primary;
        }
      }
    }
  }

  p,
  ul,
  ol,
  hr {
    font-family: $font-family-body;
    font-size: 18px;
    font-weight: $font-weight-regular;
    color: $color-base;
    letter-spacing: -0.5px;
    line-height: 160%;

    grid-column: 7 / span 13;
    @media (min-width: $bp-tablet) {
      font-size: 19px;
    }
  }

  hr {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  .article__content ul,
  .article__content ol {
    list-style: disc;
    margin: 1em 0;
    padding: 0 0 0 40px;

    li {
      display: list-item;
      list-style-type: disc;
    }
  }

  .article__content ol li {
    list-style-type: decimal;
  }

  h2,
  .article__content p:first-of-type {
    font-family: $font-family-body;
    font-weight: $font-weight-regular;
    font-size: 24px;
    color: $color-base;
    letter-spacing: -1px;
    line-height: 130%;

    grid-column: 7 / span 13;

    @media (min-width: $bp-tablet) {
      font-size: 32px;
    }
  }

  h3 {
    font-family: $font-family-body;
    font-size: 21px;
    font-weight: $font-weight-body-bold;
    color: $color-base;
    letter-spacing: -0.8px;
    line-height: 130%;
    margin-top: 0.75em;

    grid-column: 7 / span 13;
    @media (min-width: $bp-tablet) {
      font-size: 22px;
      margin-top: 1.5em;
    }
  }

  figure {
    margin-top: $grid-row-lg;
    margin-bottom: $grid-row-lg;

    @media (min-width: $bp-tablet) {
      grid-column: 4 / span 19;
      margin-top: $grid-row-xl;
      margin-bottom: $grid-row-xl;
    }

    &.first-img {
      margin-top: 0;
      margin-bottom: 0;

      grid-column: 3 / -1;
    }

    figcaption {
      font-family: $font-family-body;
      font-size: 14px;
      color: $color-base;
      letter-spacing: -0.7px;
      text-align: right;
      margin-top: 1em;
      @media (min-width: $bp-tablet) {
        font-size: 16px;
      }
    }
  }

  .llistat-text {
    font-family: $font-family-body;
    font-size: 18px;
    font-weight: $font-weight-regular;
    color: $color-base;
    letter-spacing: -0.5px;
    padding-left: 2em;

    grid-column: 7 / span 13;
    @media (min-width: $bp-tablet) {
      font-size: 19px;
    }

    li {
      margin-bottom: 1em;
      position: relative;
      line-height: 130%;

      &::before {
        position: absolute;
        content: "";
        width: 24px;
        height: 24px;
        background: url("../img/ico/dot.svg") 0 0 / cover no-repeat;
        top: -3px;
        left: -24px;
      }
    }
  }

  .cta-box {
    padding: 16px;
    @media (min-width: $bp-tablet) {
      display: grid;
      grid-template-columns: minmax(149px, 149px) 1fr auto;
      grid-gap: 32px;
      padding: 32px;
      margin-top: $grid-row-xl;
      margin-bottom: $grid-row-xl;
    }
    margin-top: $grid-row-xl;
    margin-bottom: $grid-row-lg;
    @include grid-align;

    grid-column: 5 / span 17;
    background-color: $color-bg-primary;

    &__img {
      img {
        @media (max-width: $bp-tablet) {
          max-width: 50%;
        }
        margin-top: -84px;
      }
    }

    &__text {
      margin-top: 1em;
      margin-bottom: 1em;
      @media (min-width: $bp-tablet) {
        justify-self: start;
        margin: 0;
      }

      h3 {
        font-family: $font-family-heading;
        font-weight: $font-weight-heading;
        font-size: 28px;
        color: $color-fg-primary-negative;
        letter-spacing: -0.4px;
        margin-bottom: 0.25em;
        margin-top: 0;
        @media (min-width: $bp-tablet) {
          font-size: 32px;
        }
      }

      p {
        font-family: $font-family-body;
        font-weight: $font-weight-medium;
        font-size: 18px;
        color: $color-fg-primary-negative;
        letter-spacing: -0.5px;
        line-height: 120%;
        @media (min-width: $bp-tablet) {
          font-size: 19px;
        }
      }
    }

    &__cta {
      justify-self: self-end;
    }
  }
}
