.page,
.page-section {
  padding-top: 136px;

  @media (min-width: $bp-tablet) {
    padding-top: 224px;
    padding-left: inherit;
  }

  .grid {
    grid-row-gap: $grid-row-lg;

    @media (max-width: $bp-tablet) {
      padding-left: 60px;
      grid-row-gap: $grid-row-md;
    }
  }
}

@import "page/header";
@import "page/elements";
