.pj-page,
.pj-page-section {
  padding-top: 136px;

  @media (min-width: $bp-tablet) {
    padding-top: 224px;
    padding-left: inherit;
  }

  .grid {
    grid-row-gap: $grid-row-lg;

    @media (max-width: $bp-tablet) {
      padding-left: 60px;
      grid-row-gap: $grid-row-md;
    }
  }

  .pj-collaborators {
    grid-column: span 24;
    padding: 64px;
    background: $color-bg-dark;

    h2 {
      @include font-heading(28px);

      color: $color-base-negative;
      letter-spacing: -0.4px;
      line-height: 115%;

      padding-bottom: 64px;

      @media (min-width: $bp-tablet) {
        font-size: 40px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;

      @media (min-width: $bp-tablet) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }

      @media (min-width: $bp-desktop) {
        grid-template-columns: repeat(6, 1fr);
      }

      gap: 32px;

      justify-content: space-between;
      align-items: flex-end;

      filter: saturate(0) brightness();
    }
  }
}

@import "page/mixins";
@import "page/header";
@import "page/elements";
@import "page/articles";
