.pj-related-articles {
  .grid {
    grid-row-gap: $grid-row-md;
    padding-left: 60px;
  }

  h2 {
    grid-column: 4 / span 18;

    @include font-heading(28px);

    color: $color-base;
    letter-spacing: -0.2px;
    line-height: 115%;
    margin-top: 0;

    @media (min-width: $bp-tablet) {
      font-size: 40px;
    }
  }

  .pj-articles {
    @extend #main;

    padding-top: $grid-row-lg;
    padding-bottom: 0;

    @media (min-width: $bp-tablet) {
      padding-bottom: $grid-row-lg;

      display: grid;
      grid-template-columns: repeat(24, 1fr);
      grid-column-gap: 16px;

      grid-column: 4 / span 18;
    }

    .highlighted {
      grid-column: span 8;
      justify-content: flex-end;

      @media (max-width: $bp-tablet) {
        &:last-child {
          margin-bottom: $grid-row-lg;
        }
      }

      h3 {
        font-size: 18px;

        @media (min-width: $bp-tablet) {
          font-size: 19px;
        }
      }

      .interviewee {
        @include font-heading(1em);

        line-height: 115%;
        color: $color-fg-primary-negative;
        letter-spacing: -0.4px;
        background-color: $color-fg-primary;
        display: block;
        width: fit-content;
        padding: 0.188em 0.375em;
        margin-bottom: 0.25em;
      }
    }
  }
}
