.page .article__content .nav-share {
  @media (min-width: $bp-tablet) {
    position: fixed;
    z-index: 1;
    top: calc(100vh / 2);
    left: 88vw;
  }

  .social-share__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    @media (min-width: $bp-tablet) {
      transform: rotate(-90deg);
      transform-origin: center;
      position: absolute;
      top: 40%;
      width: auto;
      margin: 0;
    }

    figcaption {
      margin: 0;
      font-weight: $font-weight-body-bold;
      color: $color-base;
      line-height: 1.5rem;
    }

    ul {
      margin: 0;
      padding-left: 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      line-height: 1.2rem;
    }

    & li {
      list-style-type: none;
      margin: auto 0 auto 0.8rem;
    }

    & a {
      text-align: right;

      @include font-body;

      color: $color-base;
      letter-spacing: -0.7px;
      padding-bottom: 6px !important;

      @media (min-width: $bp-tablet) {
        font-size: 16px;
      }

      &:hover,
      &.select {
        background: transparent linear-gradient(90deg, $color-fg-primary 50%, $color-fg-primary 0) no-repeat;
        background-size: 200% 2px;
        background-position: 100% 89%;
        color: $color-fg-primary;
      }
    }
  }
}
