$sticker-width: 10vw;

@mixin sticker-animation {
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@mixin sticker-animation-glitch {
  @include sticker-animation;

  animation-delay: #{random(5)}s;
  animation-duration: #{random(5) + 5}s;
  animation-name: glitch-effect;
}

@mixin sticker-animation-breathe {
  @include sticker-animation;

  animation-delay: #{random(10)}s;
  animation-duration: #{random(5) + 10}s;
  animation-name: breathe-effect;
}

@mixin sticker-animations {
  &.animation-glitch {
    @include sticker-animation-glitch;
  }

  &.animation-breathe {
    @include sticker-animation-breathe;
  }
}

@mixin sticker-layout($first-x, $first-y, $last-x, $last-y) {
  .pj-sticker {
    &-one {
      left: $first-x;
      top: $first-y;

      @include sticker-animations;
    }

    &-two {
      right: $last-x;
      top: $last-y;

      @include sticker-animations;
    }
  }
}

.pj-sticker {
  pointer-events: none;
  position: fixed;
  z-index: 2;

  width: $sticker-width * 2;

  @media (min-width: $bp-tablet) {
    width: $sticker-width;
  }
}

// Layout: One (Top left, bottom right)
.pj-stickers-layout-one {
  @include sticker-layout(10vw, 25vh, 10vw, 50vh);
}

// Layout: Two (Bottom left, top right)
.pj-stickers-layout-two {
  @include sticker-layout(10vw, 80vh, 10vw, 40vh);
}

// Preview for CMS

.pj-sticker-preview {
  display: flex;
  flex-direction: column;
  max-width: $sticker-width * 4;
  gap: 1rem;
  margin: auto;
  margin-top: 3rem;
  align-items: center;

  .pj-sticker {
    position: relative;
    width: $sticker-width;
    object-fit: contain;
  }
}
