.pj-sticker {
  max-height: 20rem;
  width: auto;
  object-fit: contain;

  &--preview {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    gap: 1rem;
    margin: auto;
    margin-top: 3rem;
  }
}
