// Tipografia
$tipo--primary: 'gt_cinetypebold', sans-serif;
$tipo--secundary: 'Karla', sans-serif;
// Tipografia weight
$bold--primary: 700;
$reg--secundary: 400;
$med--secundary: 500;
$bold--secundary: 700;
// Backgrounds
$bgcolor--primary: #000000;
$bgcolor--primary-hover: rgb(255 255 255 / 80%);
$bgcolor--secundary: #F5F5F5;
$bgcolor--secundary-hover: rgb(255 255 255 / 80%);
$bgcolor--fosc: #000000;
$bgcolor--clar: #F5F5F5;
// Colors
$color--primary: #000000;
$color--primary--negatiu: #FFFFFF;
$color--secundary: #2d2d2d;
$color--black: #000000;
$color--black-2: #2b2b2b;
$color--white: #FFFFFF;
$color--white-2: #FCFCFC;
$color--grey: #cccccc;
$color-error: red;
$color-ok: green;
// Columns
$num_column: 12;
$column_12: calc(100/12);
$column_24: calc(100/24);
// Margins
$margin_outside: 20px;
$margin_outside_sm: 40px;
$margin_outside_md: 60px;
$margin_outside_lg: 80px;
$margin_outside_xl: 120px;
$margin_outside_xxl: 160px;
// Grid row
$grid-row--lg: 96px;

// Paddings
$padding_outside: 20px;
$padding_outside_sm: 40px;
$padding_outside_md: 60px;
$padding_outside_lg: 60px;
$padding_outside_xl: 60px;
$padding_outside_xxl: 60px;

// Intercolumnats
$column_gap: 40px;
$column_gap_sm: null !default;
$column_gap_md: null !default;
$column_gap_lg: null !default;
$column_gap_xl: null !default;
$column_gap_xxl: 80px !default;
$margin_blocks: calc(amplada/2);
// Imatges
@mixin adaptar_img {
  -o-object-fit: cover;
  object-fit: cover;
}
// Text
@mixin adaptar_text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
// Aliniar grid
@mixin alinear_grid {
  // Alinear Horitzontal
  justify-items: start;
  // Alinear Vertical
  align-items: start;
}
@mixin alinear_grid--centrat {
  // Alinear Horitzontal
  justify-items: start;
  // Alinear Vertical
  align-items: center;
}
