@charset "UTF-8";

@import "utils/reset",
        "utils/fonts",
        "utils/media",

        "base/variables",
        "volumes/variables_volume_2",
        "base/global",
        "base/burger",
        "base/buttons",
        "base/links",

        "partials/all",

        "plugins/plugins";

#main .highlighted h4, .pj-related-articles .pj-articles .highlighted h4 {
    transform: unset;
}

header.pj-hero h1 span {
    background-color: $color-bg-secondary;
    color: $color-fg-secondary;
}

.category-deep-dives,
.category-rethink {
  background-color: #84D8FB;
}

.category-interviews {
  background-color: #A78BE4;
}
.category-group {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 2rem 0;
}
