<section class="pj-collaborators">
  <h2>{{ site.data.i18n[page.locale].global.collaborators }}</h2>
  
  <div class="pj-collaborators__list">
    <a href="https://wikimediafoundation.org/" class="pj-collaborator">
      <img src="/media/collaborators/wikimedia-foundation.svg"/>
    </a>
    <a href="https://culturalfoundation.eu/" class="pj-collaborator">
      <img src="/media/collaborators/cultural-foundation.svg"/>
    </a>
    <a href="https://uoc.edu/" class="pj-collaborator">
      <img src="/media/collaborators/uoc.png"/>
    </a>
    <a href="https://decidim.org/" class="pj-collaborator">
      <img src="/media/collaborators/decidim-logo.svg"/>
    </a>
    <a href="https://tecnopolitica.org/" class="pj-collaborator">
      <img src="/media/collaborators/tecnopolitica.svg"/>
    </a>
    <a href="https://digitalfems.org/" class="pj-collaborator">
      <img src="/media/collaborators/digital-fems.png"/>
    </a>
    <a href="https://www.barcelona.cat/" class="pj-collaborator">
      <img src="/media/collaborators/aj-bcn.png"/>
    </a> 
    <a href="https://decide.madrid.es/" class="pj-collaborator">
      <img src="/media/collaborators/decide-madrid.png"/>
    </a>
    <a href="https://zeugaz.getxo.eus/" class="pj-collaborator">
      <img src="/media/collaborators/getxo.png"/>
    </a>
    <a href="https://decidimvlc.valencia.es/" class="pj-collaborator">
      <img src="/media/collaborators/decidim-vlc.png"/>
    </a>
    <a href="https://decidim.agorademocratiche.it/" class="pj-collaborator">
      <img src="/media/collaborators/agora_democratiche.png"/>
    </a>
    <a href="https://civio.es/" class="pj-collaborator">
      <img src="/media/collaborators/civio.svg"/>
    </a>

    <a href="https://openfuture.eu/blog/we-need-to-be-democratic-first-and-then-open/" class="pj-collaborator">
      <img src="/media/collaborators/open-future.svg"/>
    </a>
    <a href="https://cooperativescatalunya.coop/" class="pj-collaborator pj-collaborator__background">
      <img src="/media/collaborators/coopcat.png"/>
    </a>
    <a href="https://somenergia.coop/" class="pj-collaborator  pj-collaborator__background">
      <img src="/media/collaborators/som-energia.png"/>
    </a>
    <a href="https://www.fiarebancaetica.coop/" class="pj-collaborator  pj-collaborator__background">
      <img src="/media/collaborators/fiare.png"/>
    </a>
    <a href="https://www.barcelonactiva.cat/es/inicio" class="pj-collaborator pj-collaborator__background">
      <img src="/media/collaborators/barcelona-activa.png"/>
    </a>
    <a href="https://affac.cat/" class="pj-collaborator">
      <img src="/media/collaborators/affac.png"/>
    </a>
    <a href="https://www.infermeresdecatalunya.cat/" class="pj-collaborator">
      <img src="/media/collaborators/infermeres-de-catalunya.png"/>
    </a>
    
    <a href="https://citiesforchange.org/" class="pj-collaborator pj-collaborator__background">
      <img src="/media/collaborators/cities-for-change.png"/>
    </a>
    <a href="https://deliberativa.org/" class="pj-collaborator">
      <img src="/media/collaborators/deliberativa.png.webp" style="filter: invert();"/>
    </a>
    <a href="https://deliberativa.org" class="pj-collaborator">
      <img src="/media/collaborators/deliberativa-besaya-europa.png"/>
    </a>
  
    <a href="https://participate.oidp.net/" class="pj-collaborator">
      <img src="/media/collaborators/oidp.png"/>
    </a>
    <a href="https://labs.openheritage.eu/" class="pj-collaborator pj-collaborator__background">
      <img src="/media/collaborators/open-heritage.png"/>
    </a>
 
    <a href="https://bibliotecanacional.gov.co/es-co" class="pj-collaborator  pj-collaborator__background">
      <img src="/media/collaborators/biblioteca-nacional-colombia.svg"/>
    </a>
    <a href="https://www.gipuzkoa.eus/es/web/kultura/gestiones/meta" class="pj-collaborator  pj-collaborator__background">
      <img src="/media/collaborators/piztu-meta.jpg"/>
    </a>
    <a href="https://eurocrowd.org/" class="pj-collaborator">
      <img src="/media/collaborators/eurocrowd.svg"/>
    </a>
  

    <a href="https://missionspubliques.org/" class="pj-collaborator">
      <img src="/media/collaborators/missions-publiques.png"/>
    </a>    
  </div>
</section>