{% assign hero_image = site.static_files | where: "name", page.cover.name | first %}
{% assign article_author = site.authors | where: "uid", page.author | where: "locale", page.locale | first %}

<div class="pj-hero jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-6">{{ page.title | markdownify }}</h1>

    <p class="post-date">{{ page.date | date: "%b %-d, %Y" }}</p>

    <p class="lead">{{ page.description | markdownify }}</p>

    {% include article/breadcrumb.html %}

    <p>
      <a href="{{ article_author.url | relative_url }}">{{ article_author.name }}</a>
    </p>

    <figure>
      <img src="{{ hero_image.path | relative_url}}"
           alt="{{ page.cover.alt}}"
           class="img-fluid">

      <figcaption>
        {{ page.cover.caption }}
        <small>{{ page.cover.credits }}</small>
      </figcaption>
    </figure>

  </div>
</div>
