---
layout: default
---
{% assign articles = site.articles
  | where: "volume-uid", page.volume-uid
  | where: "category", page.category
  | where: "locale", page.locale
  | sort: "article-order", "last" %}


{% include journal/assigns.liquid %}
{% assign t_category = site.data.i18n[page.locale].categories[page.category] %}

{% capture t_authored_by %}
  {{ site.data.i18n[page.locale].global.authored_by | append: " " }}
{% endcapture %}

{% include default/header.liquid %}
{% include journal/nav_categories.liquid %}

<section class="pj-page-section">
  <article class="container-fluid">
    <div class="container grid">
      <header class="pj-header-simple">
        <div class="header-page__text">
          <h1>{{ t_category }}</h1>
        </div>
      </header>

      <ul class="pj-category-articles">
        {% for article in articles %}
          <li>
            <div class="pj-category-articles__text">
              <h3>
                <a href="{{ article.url }}">
                  {% if article.category == "interviews" %}
                    <span class="interviewee">{{ article.interviewee }}</span>
                  {% endif %}

                  {{ article.title }}
                </a>
              </h3>

              <h5>{{ article.author | prepend: t_authored_by }}</h5>
            </div>

            <div class="pj-category-articles__img">
              <img src="{{ article.cover.thumbnail | relative_url }}" alt="{{ article.cover.alt }}" class="horizontal">
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </article>
</section>

{% include default/footer.liquid %}
