@font-face {
  font-family: 'gt_cinetypebold';
  src: url("../assets/fonts/gt-cinetype-bold-webfont.otf") format('otf'),
        url('../assets/fonts/gt-cinetype-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/gt-cinetype-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
