// This is the "NO JOURNAL Volume" style for pages

// Font families
$font-family-heading: "gt_cinetypebold", sans-serif;
$font-family-body: "Karla", sans-serif;

// Font weights

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-heading: $font-weight-bold;
$font-weight-body: $font-weight-regular;
$font-weight-body-bold: $font-weight-bold;

// Links
$link-text-decoration-hover: underline;

// Colors
$color-black: #000;
$color-white: #fff;
$color-grey: #dfdfdf;
$color-grey-dark: #7c7c7c;
$color-base: #272727;
$color-base-negative: #fdfdfd;
$hover-opacity: 0.5;

// Background
$color-bg-primary: $color-grey;
$color-bg-primary-hover: rgba($color-bg-primary, $hover-opacity);
$color-bg-primary-negative: $color-black;
$color-bg-primary-negative-hover: rgba($color-bg-primary-negative, $hover-opacity);
$color-bg-secondary: $color-white;
$color-bg-secondary-hover: rgba($color-bg-secondary, $hover-opacity);
$color-bg-dark: $color-black;

// Foreground
$color-fg-primary: $color-black;
$color-fg-primary-hover: rgba($color-fg-primary, $hover-opacity);
$color-fg-primary-negative: $color-grey-dark;
$color-fg-primary-negative-hover: rgba($color-fg-primary-negative, $hover-opacity);
$color-fg-secondary: $color-grey;

// Links
$color-link: #0099d4;
$color-link-hover: rgba($color-link, $hover-opacity);
