// This is the "NO JOURNAL Volume" style for pages

// Fonts
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-medium: 500;

$font-family-heading: "gt_cinetypebold", sans-serif;
$font-weight-heading: $font-weight-bold;

$font-family-body: "Karla", sans-serif;
$font-weight-body: $font-weight-regular;
$font-weight-body-bold: $font-weight-bold;

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #dfdfdf;
$color-grey-dark: #7c7c7c;
$color-base: #272727;
$color-base-negative: #fdfdfd;

// Background
$color-bg-primary: $color-grey;
$color-bg-primary-hover: rgba($color-bg-primary, 0.8);
$color-bg-primary-negative: $color-black;
$color-bg-primary-negative-hover: rgba($color-bg-primary-negative, 0.8);
$color-bg-secondary: $color-white;
$color-bg-secondary-hover: rgba($color-bg-secondary, 0.8);
$color-bg-dark: $color-black;

// Foreground
$color-fg-primary: $color-black;
$color-fg-primary-hover: rgba($color-fg-primary, 0.8);
$color-fg-primary-negative: $color-grey-dark;
$color-fg-primary-negative-hover: rgba($color-fg-primary-negative, 0.8);
$color-fg-secondary: $color-grey;

// Links
$color-link: #72D8FF;
$color-link-hover: #B792FF;