---
layout: base
---
{% include article/assigns.liquid %}

{% include journal/nav_categories.liquid %}

<section id="page">
  <article class="container-fluid">
    <div class="container grid">
      {{ content }}
    </div>
  </article>
</section>

    <div class="article--deep-dive">
  {% include article/deep_dive/hero.html %}

  <div class="article--deep-dive_content">

  </div>

  {% include article/deep_dive/share.html %}

  {% include article/deep_dive/related_articles.html %}
</div>

{% include article/author.liquid %}

{% include article/pagination.liquid %}

{% include article/join_newsletter.html %}

{% include article/improve.liquid %}
