---
layout: default
---

{% include article/assigns.liquid %}

{% include default/header.liquid %}

{% include journal/nav_categories.liquid %}

<section id="page">
  <article class="container-fluid">
    <div class="container grid article__content">
      {% include article/hero.liquid %}

      {{ content }}

      {% if page.call_to_action %}
        {% include default/call_to_action_block.liquid %}
      {% endif %}
    </div>
  </article>
</section>


{% include default/footer.liquid %}

{% comment %}
<div class="article--deep-dive">

  {% include article/deep_dive/share.html %}

  {% include article/deep_dive/related_articles.html %}
</div>

{% include article/author.liquid %}

{% include article/pagination.liquid %}

{% include article/improve.liquid %}
{% endcomment %}
