---
layout: default
---

{% include article/assigns.liquid %}

{% include default/header.liquid %}

{% include journal/nav_categories.liquid %}

<section class="pj-page">
  <article class="container-fluid">
    <div class="container grid pj-article">
      {% include article/hero.liquid %}

      <div id="pj-article-share">
        {% include article/share.liquid %}
      </div>

      {{ content }}

      {% if page.stickers %}
        {% include default/stickers.liquid %}
      {% endif %}

      {% if page.call_to_action %}
        {% include default/call_to_action_block.liquid %}
      {% endif %}
      
    </div>
  </article>
</section>

{% include article/related_articles.liquid %}

{% include article/pagination.liquid %}

{% include default/footer.liquid %}

{% comment %}
{% include article/author.liquid %}


{% include article/improve.liquid %}
{% endcomment %}
