---
layout: base
---

{% include article/assigns.liquid %}

<header class="pj-hero">
  <div class="pj-hero__text">
    <h1>
      {{ page.title }}
    </h1>
  </div>

  <div class="pj-hero__img">
    <img src="{{ page.image.path | relative_url }}" alt="{{ page.name }}">
  </div>
</header>

<h2>{{ page.position }}</h2>

<img
  src="{{ page.image_url }}"
  alt="{{ page.name }} image"
  height="250">

{{ content }}

<h2>Articles</h2>

<ul>
  {% assign filtered_articles = site.articles | where: 'author', page.uid | where: 'locale', page.locale %}
  {% for article in filtered_articles %}
    <li><a href="{{ article.url }}">{{ article.title }}</a></li>
  {% endfor %}
</ul>
