---
layout: base
---

<code>
    journal template, num {{ page.journal-num }}
</code>

{% assign journal = site.journals | where: "journal-num", page.journal-num | first %}

<h1>
  <a href="{{ journal.url | relative_url }}">{{ journal.title }}</a>
</h1>



{{ content }}

<ul class="listing-articles">
  {% assign articles = site.posts | where:"journal-num", page.journal-num | sort: 'article-order' %}
  {% for article in articles %}
    <li>
        <h3><a href="{{ article.url | relative_url }}">{{ article.title }}</a></h3>

        <mark>{{ article.categories }}</mark>
        &nbsp;
        <em>{{ article.author }}</em>
        &nbsp;
        <mark>{{ article.tags }}</mark>

    </li>
  {% endfor %}
</ul>
