---
layout: default
---

{% include article/assigns.liquid %}

{% include default/header.liquid %}

{% include journal/nav_categories.liquid %}

{% capture t_authored_by %}
  {{ site.data.i18n[page.locale].global.authored_by | append: " " }}
{% endcapture %}

{% capture t_created_by %}
  {{ site.data.i18n[page.locale].global.created_by | append: " " }}
{% endcapture %}

<section class="pj-page pj-page-sticker-pack">
  <article class="container-fluid">
    <div class="container grid pj-article">
      <header class="pj-hero">
        <div class="pj-hero__text">
          <h1>
            <span class="interviewee">{{ page.stickers_author | prepend: t_created_by }}</span>
    
            {{ page.title }}
          </h1>
      
          <div class="pj-hero__data">
            <span class="pj-hero__data__author">
              {{ page.author | prepend: t_authored_by }}
            </span>
          </div>
        </div>
      
        <div class="pj-hero__img">
          <img src="{{ page.cover.path | relative_url }}" alt="{{ article.cover.alt }}">
        </div>
      </header>

      <div id="pj-article-share">
        {% include article/share.liquid %}
      </div>

      {{ content }}

      {% if page.call_to_action %}
        {% include default/call_to_action_block.liquid %}
      {% endif %}
    </div>
  </article>
</section>

{% include default/footer.liquid %}
