// This are the variables for the second volume of the Journal

// Font families
$font-family-heading: "gt_cinetypebold", sans-serif;
$font-family-body: "Karla", sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-heading: $font-weight-bold;
$font-weight-body: $font-weight-regular;
$font-weight-body-bold: $font-weight-bold;

// Links
$link-text-decoration-hover: none;

// Colors
$color-black: #000;
$color-white: #fff;
$color-grey: #ffcdc5;
$color-base: #380f09;
$color-base-negative: #ffdfda;
$color-accent: #fd4022;
$hover-opacity: 0.8;

$color-lila:#ae8beb;
$color-green: #2e9779;
$color-green-light: #42cca5;

// Backgrounds
$color-bg-primary: $color-green-light;
$color-bg-primary-hover: rgba(253, 64, 34, $hover-opacity);
$color-bg-primary-negative: $color-black;
$color-bg-primary-negative-hover: rgba($color-bg-primary-negative, $hover-opacity);
$color-bg-secondary: $color-lila;
$color-bg-secondary-hover: rgba(255, 253, 218, $hover-opacity);
$color-bg-dark: $color-black;

// Foregrond
$color-fg-primary: $color-white;
$color-fg-primary-hover: rgba($color-fg-primary, $hover-opacity);
$color-fg-primary-negative: $color-white;
$color-fg-primary-negative-hover: rgba($color-fg-primary-negative, $hover-opacity);
$color-fg-secondary: $color-lila;

// Links
$color-link: $color-fg-primary;
$color-link-hover: $color-fg-primary-hover;

$animation-duration: 300ms;
$animation-easing: ease-in-out;
