// Tipografia
$tipo--primary: 'gt_cinetypebold', sans-serif;
$tipo--secundary: 'Karla', sans-serif;
// Tipografia weight
$bold--primary: 700;
$reg--secundary: 400;
$med--secundary: 500;
$bold--secundary: 700;
// Backgrounds
$bgcolor--primary: #fd4022;
$bgcolor--primary-hover: rgba(253, 64, 34, .8);
$bgcolor--primary--negatiu: #000000;
$bgcolor--primary--negatiu-hover: rgba(0, 0, 0, .8);
$bgcolor--secundary: #ffdfda;
$bgcolor--secundary-hover: rgba(255, 253, 218, .8);
$bgcolor--fosc: #000000;
// Colors
$color--primary: #fd4022;
$color--primary-hover: rgba(240, 0, 64, .8);
$color--primary--negatiu: #FFFFFF;
$color--primary--negatiu-hover: rgba(255, 255, 255, .8);
$color--secundary: #ffdfda;
$color--base: #380f09;
$color--base--negatiu: #ffdfda;
$color--black: #000000;
$color--white: #FFFFFF;
$color--grey: #ffcdc5;
