[data-category="deep-dives"] {
  & > h3 {
    grid-column: 3 / span 24;

    @include font-heading(28px);

    color: $color-fg-primary;
    letter-spacing: -6px;
    margin-bottom: 0.5em;

    @media (min-width: $bp-tablet) {
      font-size: 64px;
      margin-bottom: 0;
    }
  }
}
