[data-category="deep-dives"] {
  & > h2 {
    grid-column: 3 / span 24;

    @include font-heading(28px);

    color: $color-fg-primary;
    letter-spacing: -1px;
    margin-bottom: 0.5em;

    @media (min-width: $bp-tablet) {
      letter-spacing: -6px;
      font-size: 64px;
      margin-bottom: 0;
    }
  }
}

.pj-article > blockquote {
  @include blockquote;
}
