.pj-page,
.pj-page-section {
  blockquote {
    grid-column: 7 / span 13;
  }

  p,
  ul,
  ol,
  hr {
    @include font-body(18px);

    color: $color-base;
    letter-spacing: -0.5px;
    line-height: 160%;
    grid-column: 7 / span 13;

    @media (min-width: $bp-tablet) {
      font-size: 19px;
    }
  }

  strong {
    font-weight: $font-weight-body-bold;
  }

  hr {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  h2,
  .pj-article p:first-of-type {
    @include font-body(24px);

    color: $color-base;
    letter-spacing: -1px;
    line-height: 130%;
    grid-column: 7 / span 13;

    @media (min-width: $bp-tablet) {
      font-size: 32px;
    }
  }

  h3 {
    @include font-body-bold(21px);

    color: $color-base;
    letter-spacing: -0.8px;
    line-height: 130%;
    margin-top: 0.75em;
    grid-column: 7 / span 13;

    @media (min-width: $bp-tablet) {
      font-size: 22px;
      margin-top: 1.5em;
    }
  }

  h4 {
    @extend h3;
    @include font-body-bold(18px);
  }

  h5 {
    @extend h3;
    @include font-body-bold(16px);
  }

  ul,
  ol {
    @include font-body(18px);

    color: $color-base;
    letter-spacing: -0.5px;
    padding-left: 2em;
    grid-column: 7 / span 13;

    @media (min-width: $bp-tablet) {
      font-size: 19px;
    }

    li {
      margin-bottom: 1em;
      position: relative;
      line-height: 130%;
    }
  }

  > ul li {
    &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      background: url("/assets/media/icons/icon-dot.svg") 0 0 / cover no-repeat;
      top: -3px;
      left: -24px;
    }
  }

  .pj-article {
    > ul,
    > ol {
      padding: 0 0 0 40px;

      li {
        display: list-item;
      }
    }

    ol {
      li {
        list-style-type: decimal;
      }
    }
  }

  p > .link-external {
    position: relative;

    &::after {
      mask-image: url("/assets/media/icons/icon-external-link.svg"), none;
      mask-mode: alpha;
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: .25em;

      content: "";

      display: inline-block;
      font-size: 0.5em;
      width: 1.5em;
      height: 1.5em;
      margin: 0;
      background-color: $color-link;
    }

    &:focus,
    &:hover {
      &::after {
        background-color: $color-link-hover;
      }
    }
  }
}
