.pj-header-simple {
  grid-column: 4 / -3;

  h1 {

    span {
      background-color: $color-bg-primary;
    }

    @include font-heading(36px);

    color: $color-fg-primary;
    letter-spacing: -1px;
    line-height: 105%;
    text-wrap: balance;

    @media (min-width: $bp-tablet) {
      font-size: 80px;
    }
  }
}

.pj-hero {
  @media (min-width: $bp-tablet) {
    margin-bottom: $grid-row-xl;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 16px;
    grid-column-gap: 16px;
    grid-column: 4 / -3;

    @include grid-align;

    &__text {
      grid-column: 1 / 11;
      grid-row: 1;
      z-index: 1;
    }
  }

  &__data {
    display: flex;
    flex-flow: column;
    margin-bottom: 0.75em;

    @media (min-width: $bp-tablet) {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-gap: 16px;
      grid-column-gap: 16px;
    }

    &__date,
    &__author {
      @include font-body;

      color: $color-base;
      letter-spacing: -0.7px;
      margin-bottom: 1em;

      &:focus,
      &:hover {
        margin-bottom: 1em;
      }

      @media (min-width: $bp-tablet) {
        font-size: 16px;
      }
    }

    &__data {
      grid-column: 1 / span 3;
    }

    &__author {
      grid-column: 4 / -1;
      position: relative;

      cursor: pointer;

      &:hover,
      &:focus {
        transition: all $animation-duration $animation-easing;
        transform: scale(1.1);
      }

      @media (max-width: $bp-tablet) {
        margin-left: 24px;
      }

      @media (min-width: $bp-desktop-xl) {
        grid-column: 4 / -4;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 3px;
        left: -24px;
        width: 16px;
        height: 2px;
        background-color: $color-fg-primary;
      }
    }
  }

  &__img {
    grid-column: 8 / -1;
    grid-row: 1;
    justify-self: right;
  }

  h1 {
    @include font-heading(36px);

    color: $color-fg-primary;
    letter-spacing: -1px;
    line-height: 105%;
    margin-bottom: 0.75em;

    @media (min-width: $bp-tablet) {
      font-size: 80px;
    }

    .interviewee {
      @include font-heading(0.75em);

      line-height: 115%;
      color: $color-fg-secondary;
      letter-spacing: -0.5px;
      background-color: $color-bg-primary;
      display: block;
      width: fit-content;
      padding: 0.188em 0.375em;
      margin-bottom: 0.25em;
    }
  }

  h4 {
    @include font-body-medium(16px);

    color: $color-fg-primary;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 1em;

    @media (min-width: $bp-tablet) {
      font-size: 19px;
    }

    a {
      color: $color-fg-primary;
      padding-bottom: 6px;

      &:hover,
      &.select {
        background: transparent linear-gradient(90deg, $color-fg-primary 50%, $color-fg-primary 0) no-repeat;
        background-size: 200% 2px;
        background-position: 100% 89%;
        color: $color-fg-primary;
      }
    }
  }
}
