// Burger menu

.burger {
  position: relative;
  background-color: transparent;
  border: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  z-index: 4;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &__label {
    text-decoration: none;
    text-transform: uppercase;

    @include font-body(1em);

    color: $color-base;
    letter-spacing: 0;
    position: relative;

    @media (max-width: 575px) {
      display: none;
    }
  }

  &__icon-close,
  &__icon-open {
    @include flex-center;

    width: 24px;
    height: 24px;
    fill: $color-base;

    &-left {
      margin-right: 8px;
    }

    &-right {
      margin-left: 8px;
    }
  }

  &__icon-open {
    width: 20px;
    display: block;
  }

  &__icon-close {
    fill: $color-fg-primary-negative;
    display: none;
  }

  &.status-open .burger__icon-open {
    display: none;
  }

  &.status-open .burger__icon-close {
    display: block;
  }
}
