html {
  background-color: $color-bg-secondary;
}

body {
  @include font-body;

  background-color: $color-bg-secondary;
}

.bw {
  // filter: saturate(0);
}
iframe {
  grid-column: 7 / span 13 !important;
  width: 100% !important;
  aspect-ratio: 16 / 9 !important;
}
