// Links

a {
  color: $color-link;

  &:focus,
  &:hover {
    color: $color-link-hover;
    text-decoration: $link-text-decoration-hover;
  }
}

.link {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-decoration: none;
  width: fit-content;

  &--right {
    text-align: right;
  }

  &__label {
    font-size: 1em;
    font-weight: $font-weight-body-bold;
    color: $color-base;
    letter-spacing: -0.5px;
    position: relative;
    padding-bottom: 0.375em;

    &--extern::after {
      content: "";
      position: absolute;
      top: -8px;
      right: -24px;
      width: 24px;
      height: 24px;
      background: url(../img/ico/link_outside.svg) 0 0 / cover no-repeat;
    }
  }

  &__icon {
    display: flex;
    width: 24px;
    height: 24px;
    min-width: 24px;
    align-items: center;
    justify-content: center;
    margin-top: -0.375em;

    &--left {
      margin-right: 8px;
    }

    &--right {
      margin-left: 8px;
    }

    &--close {
      display: none;
    }
  }

  &--negatiu {
    .link__label {
      color: $color-base-negative;

      &--extern::after {
        background: url(../img/ico/link_outside.svg) 0 0 / cover no-repeat;
      }
    }
  }

  &:hover {
    .link__label {
      color: $color-fg-primary-hover;
      font-weight: $font-weight-body-bold;
      background: transparent linear-gradient(90deg, $color-fg-primary 50%, $color-fg-primary 0) no-repeat;
      background-size: 200% 2px;
      background-position: 100% 100%;
    }

    &.link--negatiu {
      .link__label {
        color: $color-fg-primary-negative-hover;
        background:
          transparent linear-gradient(90deg, $color-fg-primary-negative 50%, $color-fg-primary-negative 0)
          no-repeat;
        background-size: 200% 2px;
        background-position: 100% 100%;
      }
    }
  }
}
