// Columns
$grid-columns: 12;
$column-width-12: calc(100 / 12);
$column-width-24: calc(100 / 24);

// Maximum width
$container-max-width: 1440px;

// Margins
$margin: 20px;
$margin-sm: 40px;
$margin-md: 60px;
$margin-lg: 80px;
$margin-xl: 120px;
$margin-xxl: 160px;

// Grid row
$grid-row-sm: 8px;
$grid-row-md: 16px;
$grid-row-lg: 32px;
$grid-row-xl: 96px;
$grid-row-xxl: 128px;

// Paddings

$padding: (
  "default": 20px,
  "sm": 40px,
  "md": 60px,
  "lg": 60px,
  "xl": 60px,
  "xxl": 60px,
);

// Column gaps

$column-gap: (
  "default": 40px,
  "sm": null,
  "md": null,
  "lg": null,
  "xl": null,
  "xxl": 80px,
);
$column-gap-sm: map-get($column-gap, sm) !default;
$column-gap-md: map-get($column-gap, md) !default;
$column-gap-lg: map-get($column-gap, lg) !default;
$column-gap-xl: map-get($column-gap, xl) !default;
$column-gap-xxl: map-get($column-gap, xxl) !default;

// Breakpoints
$bp-mobile-xs: 320px;
$bp-mobile: 375px;
$bp-phablet: 576px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-desktop-xl: 1200px;
$bp-desktop-xxl: 1520px;


$btn-close-size: 24px;

// Aliniar grid
@mixin grid-align {
  // Horizontal
  justify-items: start;

  // Vertical
  align-items: start;
}

@mixin grid-align-center {
  // Horizontal
  justify-items: start;

  // Vertical
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
