// Columns
$grid-columns: 12;
$column-width-12: calc(100 / 12);
$column-width-24: calc(100 / 24);

// Maximum width
$container-max-width: 1440px;

// Margins
$margin: 20px;
$margin-sm: 40px;
$margin-md: 60px;
$margin-lg: 80px;
$margin-xl: 120px;
$margin-xxl: 160px;

// Grid row
$grid-row-sm: 8px;
$grid-row-md: 16px;
$grid-row-lg: 32px;
$grid-row-xl: 96px;
$grid-row-xxl: 128px;

// Paddings
$padding: 20px;
$padding-sm: 40px;
$padding-md: 60px;
$padding-lg: 60px;
$padding-xl: 60px;
$padding-xxl: 60px;

// Intercolumnats
$column-gap: 40px;
$column-gap-sm: null !default;
$column-gap-md: null !default;
$column-gap-lg: null !default;
$column-gap-xl: null !default;
$column-gap-xxl: 80px !default;

// Breakpoints
$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-desktop-xl: 1200px;

// Aliniar grid
@mixin grid-align {
  // Horizontal
  justify-items: start;
  // Vertical
  align-items: start;
}

@mixin grid-align-center {
  // Horizontal
  justify-items: start;
  // Vertical
  align-items: center;
}
